* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #03dfff;
    background: linear-gradient(139deg, #03ddffcb 0%, #ff0381b6 90%);
}

.container {
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.addTask {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.addTask>input[type="text"] {
    width: 90%;
    color: #333;
    border: 5%;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
}

.addTask button {
    margin: 0 10px;
    background: #222;
    color: #fff;
    font-size: 18 px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30%;
    cursor: pointer;
}

.notCompleted,
.Completed {
    margin: 10px 0;
    padding: 20px;
}

h3 {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

ol {
    list-style: none;
}

ol li {
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: #f38368;
    font-size: 22px;
    counter-increment: my-counter;
}

ol.Completed li {
    background: lime;
}

ol li::before {
    content: counter(my-counter);
    background: mediumslateblue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-right: 0.5rem;
}

li button {
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}