* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
body{
    


background: rgb(101,193,252);
background: linear-gradient(90deg, rgba(101,193,252,0.4682247899159664) 0%, rgba(63,154,255,0.8575805322128851) 100%);


}

.main{
    margin:auto;
    border-radius: 15px;
    top: 15%;
    box-shadow: 4px 3px #8c767647;
    height: 350px;
    width: 400px;
    z-index: 10;
    justify-items: center;
    text-align: center;
    position: relative;
    background: rgb(152,152,152);
    background: linear-gradient(90deg, rgba(152,152,152,0.28895308123249297) 0%, rgba(255,255,255,0.30575980392156865) 100%);
    font: small-caps 25px 5px ;
    font-family: 'Tourney', cursive;
  
}

input{
    border-radius: 10px;
    width: 250px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;
    background-color: ;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,0) 100%);
    position: relative;
    box-shadow: 4px 3px #8c767647;
;
}
a{
    font-family: 'Tourney', cursive;
    text-decoration: none;
    color: #000;
}
.sub{
    width: 100px;
}
link{
    list-style-type: none;
}

h1, h2{
   
   margin-bottom: 10px;
   font-family: 'Tourney', cursive;

}
.c1, .c2{
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: rgb(152,152,152);
background: linear-gradient(90deg, rgba(152,152,152,0.28895308123249297) 0%, rgba(255,255,255,0.30575980392156865) 100%);
    position: relative;
    z-index: 5;
    box-shadow: 4px 3px #8c767647;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}
.c1{
    top: 45px;
    left: 430px;
   
  
}
.c2{
    left: 826px;
    bottom: 49px;
}
.forpas{
    font-family: 'Tourney', cursive;
    font-size: 12px;
    
}
p{
    font: 1em sans-serif;
    background: rgb(152,152,152);
    background: linear-gradient(90deg, rgba(152,152,152,0.28895308123249297) 0%, rgba(255,255,255,0.30575980392156865) 100%);
        position: relative;
        border-radius: 7px;
}
.uper{
    background: rgb(75,127,236);
background: linear-gradient(90deg, rgba(75,127,236,0.3925945378151261) 0%, rgba(125,215,255,0.39539565826330536) 67%);
 width: 100%;
 height: 60px;
 border-radius: 7px;
 box-shadow: 4px 3px #8c767647;
 
}
.uperh{
    margin-top: -7px;
    margin-left: 67px;
    display: inline;
    position: relative;
    float: left;
    right: -67px;
}
.src{
  margin-right: 67px;
   top: -56px;
    position: relative;
    float: right;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;

    background: rgb(75,127,236);
    background: linear-gradient(90deg, rgba(75,127,236,0.3925945378151261) 0%, rgba(125,215,255,0.39539565826330536) 67%);
    box-shadow: 4px 3px #8c767647;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top: -12px;
    right: 254px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: rgb(75,127,236);
    background: linear-gradient(90deg, rgba(75,127,236,0.3925945378151261) 0%, rgba(125,215,255,0.39539565826330536) 67%);
    
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   font-family: monospace;
   font-size: 17px;
   border-radius: 10px;
}
  
  .dropdown-content a:hover {background-color: #ddd;

    background: rgb(57,97,237);
    background: linear-gradient(90deg, rgba(57,97,237,0.6811099439775911) 0%, rgba(65,196,255,0.6923144257703081) 100%);
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;

    background: rgb(57,97,237);
background: linear-gradient(90deg, rgba(57,97,237,0.6811099439775911) 0%, rgba(65,196,255,0.6923144257703081) 100%);
}